body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 14px; /* Added font size for mobile compatibility */
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px; /* Adjusted font size for heading */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd; /* Border for entire table */
}

th, td {
    padding: 8px; /* Reduced padding for cells */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Border for bottom of each row */
    border-right: 1px solid #ddd; /* Border for right side of each cell */
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 16px; /* Adjusted font size for header cells */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

button {
    padding: 8px 16px; /* Reduced padding for buttons */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    table {
        /* Remove overflow property */
    }
}
#weeksDaysFooter {
    text-align: center;
    font-size: 1.5em; /* Increase font size */
    color: #b81515; /* Color */
}
